[submodule "security"]
	path = security
	url = https://github.com/DAY-J/security.git
[submodule "src/main/java/com/capstone/dayj/OauthSecurity"]
	path = src/main/java/com/capstone/dayj/OauthSecurity
	url = https://github.com/DAY-J/OauthSecurity.git
